

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('分类管理')" ></head>
<body>
<div th:replace="include/admin/adminNavigator::html" ></div>
<script>
    $(function(){
        var data4Vue = {
            uri: 'goods/type',
            goodstypes: [],
            goodstype: {name: ''},
            dialogFormVisible: false,
            rules: {
                name: [
                    {required: true, message: '请输入分类名称', trigger: 'blur'}
                ]
            }
        }
        //ViewModel
        var vue = new Vue({
            el: '#workingArea',
            data: data4Vue,
            mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                this.list();
            },
            methods: {
                list:function(){
                    var url =  this.uri;
                    axios.get(url).then(function(response) {
                        // vue.pagination = response.data;
                      vue.goodstypes = response.data	;
                        console.log(response);
                        console.log(vue.goodstypes);
                    });
                },
                add: function (formName) {
                    this.$refs[formName].validate((valid)=>{
                            if (valid) {
                                var url = this.uri;
                                axios.post(url, this.goodstype).then(function (response) {
                                    vue.list();
                                    vue.dialogFormVisible = false;
                                    vue.$message({
                                        message: '添加分类成功',
                                        type: 'success'
                                    });
                                });
                            } else {
                                return false;
                            }
                            })
                },
                newCategory: function () {
                    this.goodstype = {name: ''};
                    this.dialogFormVisible = true;
                },
                deleteBean: function (id) {
                    var url = this.uri+"/"+id;
                    axios.delete(url).then(function(response){
                        if(response.data.code==200){
                            vue.$message({
                                message: response.data.data,
                                type: 'success'
                            });
                            vue.list();
                        }
                        else{
                            vue.$message.error(response.data.message);
                        }
                    });
                },
            }
        });
    });

</script>
<div id="workingArea" >
    <el-tag>分类管理</el-tag>
    <el-button type="warning" size="medium" round @click="newCategory()">新增分类</el-button>
    <br>
    <br>
    <el-table
            :data="goodstypes"
            max-height="550"
            style="width: 100%">
        <el-table-column
                prop="id"
                label="ID"
                width="500">
        </el-table-column>
        <el-table-column
                prop="name"
                label="分类名称"
                width="500">
            <template slot-scope="scope">
                <i class="el-icon-help"></i>
                <span style="margin-left: 10px">{{ scope.row.name }}</span>
            </template>
        </el-table-column>
        <el-table-column label="操作">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        type="danger"
                        @click="deleteBean(scope.row.id)">删除</el-button>
            </template>
        </el-table-column>
    </el-table>

    <el-dialog title="新增分类" :visible.sync="dialogFormVisible">
        <el-form :model="goodstype"  :rules="rules" ref="typeForm">
            <el-form-item label="分类名称"  prop="name">
                <el-input v-model="goodstype.name" ></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="add('typeForm')">确 定</el-button>
        </div>
    </el-dialog>


</div>
<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>
