

<div th:fragment="html">
    <div id="footer"  class="footer" style="display: block;">
        <div id="footer_ensure" class="footer_ensure">
            <a href="#nowhere">
                <img src="img/site/footer4.jpg">
            </a>
        </div>


        <div class="horizontal_line">
        </div>


        <div style="clear:both">

        </div>




        <div id="copyright" class="copyright">
            <div class="coptyrightMiddle">
                <img id="cateye" class="cateye" src="img/site/footer7.png">
                <div class="white_link" >
                    <a href="#nowhere" > 帮助中心</a>
                    <a href="#nowhere" >开放平台</a>
                    <a href="#nowhere" >  诚聘英才</a>
                    <a href="#nowhere" >联系我们</a>
                    <a href="#nowhere" >网站合作</a>
                    <a href="#nowhere" >法律声明</a>
                    <a href="#nowhere" >知识产权</a>
                    <a href="#nowhere" >  廉正举报	</a>
                </div>
                <div class="white_link" >

                    <a href="http://121.43.103.189:8080" > 阿里云项目</a><span class="slash">|</span>
                    <a href="#nowhere" > http://121.43.103.189:8080	</a>
                </div>

                <div class="license">
                    <span>Github：https://github.com/wangybest/biyesheji</span>
                    <div class="copyRightYear">&copy; 2019-2020 WangY 版权所有</div>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="html">
